.emptyCart {
    width: 90vw;
    margin: auto;
}
.card {
    height: 70vh;
    padding:25px;
} 
h4,h6 {
    font-weight: 400;
}

img {
    text-decoration: none;
    color: inherit;
    height: 170px;
    width: 250px;
    margin: 20px 0px;
}
.center {
    position:absolute;
    top: 18%;
    left: 40%;
    /* transform: translate(-45% -45%); */
    text-align: center;  
}



/* for cart table only */

.card-table {
    margin: 0 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 20px; 
    border-radius: 3px !important;
}
