<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="" class="navbar-brand" style="color:white;">A U T O C A R T - i n d i a</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
             <a *ngIf="false" class="nav-link" (click)="onOpenModal(null,'add')">Add Product<span class="sr-only">(current)</span></a>   
          </li> -->
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <!-- <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products..." required> -->
          <a *ngIf="role!=='ROLE_ADMIN' && role!=='ROLE_USER'" routerLink="/signup" class="btn btn-primary tooltips" style="font-weight: 600; margin: 0 4px; color: white;" data-original-title="Signup">Signup</a>
          <a *ngIf="role!=='ROLE_ADMIN' && role!=='ROLE_USER'" routerLink="/login" class="btn btn-primary tooltips" style="font-weight: 600; margin: 0 4px; color: white;" data-original-title="Login">Login</a>
          <a *ngIf="role==='ROLE_ADMIN' || role==='ROLE_USER'" routerLink="/cart" class="btn btn-warning tooltips" style="font-weight: 600; margin: 0 4px;" data-original-title="Cart"><i style="color:black;" class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <a *ngIf="role==='ROLE_ADMIN' || role==='ROLE_USER'" routerLink="/editprofile" class="btn btn-primary tooltips" style="font-weight: 600; margin: 0 4px;" data-original-title="editprofile"><i class="fa fa-user" aria-hidden="true"></i></a>
          <a *ngIf="role==='ROLE_ADMIN' || role==='ROLE_USER'" href = "" (click)="logout()" class="btn btn-secondary tooltips" style="font-weight: 600; margin: 0 4px; color: white;" data-original-title="Logout">Log Out</a>
          <a *ngIf="role==='ROLE_ADMIN'" routerLink="/searchAllUsers" class="btn btn-secondary tooltips" style="font-weight: 600; margin: 0 4px; color: white;" data-original-title="User List">All Users</a>
         </form>
    </div>
  </nav>