<div class="card">
    <div class="card-body">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div>
               <label for="username">Name</label>
               <input type="text" formControlName="username" placeholder="username">
               <label for="file">Add Image</label>
               <input type="file" name="file" (change)="onFileSelect($event)"/>
               <button type="submit" class="btn btn-primary" >Save changes</button>
            </div>
        </form>
    </div>
</div>